bin/
obj/
publish/
tools/
src/.vs/
src/*/.vs/
*.suo
*.user
*.DotSettings
build/Fody*
*.vs/
/EVE-O-preview-CACX_zhcn
/EVE-O-preview-CACX_zhcn.zip
/src/Eve-O-Preview/Properties/PublishProfiles/FolderProfile.pubxml
